.card-shadow {
  box-shadow: 12px 12px 17px 0px #aaa;
}

.slideDown {
  animation: slideDown 0.5s ease both;
  background: linear-gradient(45deg, transparent 50%, #99a1af 0);
}

.slideUp {
  animation: slideUp 0.5s ease both;
  background: linear-gradient(45deg, transparent 50%, #99a1af 0);
}

@keyframes slideDown {
  0% {
    visibility: hidden;
    height: 0;
  }
  100% {
    visibility: visible;
    height: 20px;
  }
}

@keyframes slideUp {
  from {
    visibility: visible;
    height: 20px;
  }

  to {
    visibility: hidden;
    height: 0;
  }
}
